{% load static %}


<section id="top-header">
    <script>
        $(function () {
            $("#search").autocomplete({
                source: "/search_auto/",
                select: function (event, ui) { //item selected
                    AutoCompleteSelectHandler(event, ui)
                },
                minLength: 2,
            });
        });

        function AutoCompleteSelectHandler(event, ui) {
            var selectedObj = ui.item;
        }
    </script>
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-7 col-xs-7 top-header-links">
                <ul class="contact_links">
                    <li>
                        <form class="example" action="/search/" method="post">
                            {% csrf_token %}
                            <input id="search" name="search" type="text" placeholder="Search..">
                            <button type="submit"><i class="fa fa-search"></i></button>
                            <div class="select">
                                {% load mptt_tags %}
                                <select name="catid" id="catid">
                                    <option value="0">Tüm Kategoriler</option>
                                    {% recursetree category %}
                                        {% if node.is_leaf_node %}
                                            <option value="{{ node.id }}">{{ node.title }}</option>{% endif %}
                                        {% if not node.is_leaf_node %}
                                            <optgroup label="{{ node.title }}">
                                                {{ children }}
                                            </optgroup>
                                        {% endif %}

                                    {% endrecursetree %}
                                </select>
                            </div>
                        </form>

                    </li>
                </ul>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-5 social">
                <ul class="social_links">


                    <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-skype"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<header>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button
                            type="button"
                            class="navbar-toggle collapsed"
                            data-toggle="collapse"
                            data-target="#navbar"
                            aria-expanded="false"
                            aria-controls="navbar"
                    >
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <h1>Aspire</h1>
                        <span>Software Solutions</span></a
                    >
                </div>

                <div id="navbar" class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">

                        <li class="active"><a href="/">Anasayfa</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ders Notları <span
                                    class="fa fa-angle-down"></span></a>

                            <ul class="dropdown-menu" role="menu">
                                {% load mptt_tags %}

                                {% recursetree category %}
                                    <li class="dropdown">

                                    <li><a href="/category/{{ node.id }}/{{ node.slug }}" class="dropdown-toggle"
                                            {% if not node.is_leaf_node %}
                                           data-toggle="dropdown"{% endif %}>{{ node.title }}<span
                                            class="fa fa-angle-down"></span></a>
                                    </li>

                                    {% if not node.is_leaf_node %}
                                        <li class="children" data-toggle="dropdown">
                                        <li><a>{{ children }}</a></li>

                                        </li>
                                    {% endif %}
                                    </li>

                                {% endrecursetree %}
                            </ul>
                        </li>
                        <li><a href="/about">Hakkımızda</a></li>
                        <li><a href="/faq">SSS</a></li>
                        <li><a href="/contact">İletİşİm</a></li>
                        <li class="dropdown">
                            <a href="/login" class="dropdown-toggle" data-toggle="dropdown">
                                {% if user.id is not None %} <strong>{{ user.first_name }}
                                    <span class="fa fa-angle-down"></span></strong>{% else %}Oturum Aç
                                    <span class="fa fa-angle-down"></span>
                                {% endif %}
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                {% if user.id is not None %}
                                    <li><a href="/user"><i class="fa fa-user"></i>Profilim</a></li>
                                    <li><a href=""><i class="fa fa-clipboard"></i>Eklediğim Notlar</a></li>
                                    <li><a href="/user/comments/"><i class="fa fa-comment"></i>Yorumlarım</a></li>
                                    <li><a href="/logout"><i class="fa fa-sign-out"></i>Çıkış</a></li>
                                 {% else %}
                                    <li><a href="/login"><i class="fa fa-user"></i>Giriş</a></li>

                                {% endif %}
                            </ul>
                        </li>

                        <li><a href="/signup">Kayıt Ol</a></li>

                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </nav>
</header>

<!--/.nav-ends -->