{% extends "homebase.html" %}

{% block title %}{{ profile.user_name }} Profil{% endblock %}
{% block keywords %}{{ setting.title }}{% endblock %}
{% block description %}{{ setting.title }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}


{% block content %}
    {% load static %}
    <section id="top_banner">
        <div class="banner">
            <div class="inner text-center">
                <h2>Şifre Değiştir</h2>
            </div>
        </div>
        <div class="page_info">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-6">
                        <h4>Şifre Değiştir</h4>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6" style="text-align:right;">Profilim<span
                            class="sep"> 	/ </span><span class="current"> Şifre Değiştir</span></div>
                </div>
            </div>
        </div>
    </section>
    <section id="login-reg">

        <div class="container">
            <!-- Top content -->
            <div class="row">
                <div class="col-md-3  ">

                    <div class="section-heading">
                        <h2>Kullanıcı <span>Panelİ</span></h2>
                    </div>
                    {% include "user_panel.html" %}
                </div>

                <div class="col-md-9  ">
                    <div class="form-box">
                        <div class="section-heading">
                            <h2>Kullanıcı <span>Bİlgİlerİ</span></h2>
                            <hr/>
                        </div>
                        <div class="content">
                            {% if messages %}
                                {% for messages in messages %}
                                    <div style="color: #d43f3a; font-size: medium">
                                        {{ messages |safe }}
                                    </div>
                                {% endfor %}
                            {% endif %}

                            <form method="post">
                                {% csrf_token %}
                                {% for field in form %}
                                    <p>
                                        {{ field.label_tag }}<br>
                                        {{ field }}
                                        {% if filed.help_text %}
                                            <small style="color: grey">{{ field.help_text }}</small>
                                        {% endif %}
                                        {% for error in field.errors %}
                                            <p class="input-group form-group" style="color: red">{{ error }}</p>
                                        {% endfor %}
                                    </p>
                                {% endfor %}
                                <button type="submit" class="btn">Şifreyi Değiştir</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
